USE [master]
GO
/****** Object:  Database [Gimnasio_DB]    Script Date: 10/07/2022 22:23:15 ******/
CREATE DATABASE [Gimnasio_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Gimnasio_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Gimnasio_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Gimnasio_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Gimnasio_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Gimnasio_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Gimnasio_DB]
GO
/****** Object:  Table [dbo].[actividades]    Script Date: 10/07/2022 22:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[actividades](
	[idActividad] [int] NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_actvidades] PRIMARY KEY CLUSTERED 
(
	[idActividad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[profesores]    Script Date: 10/07/2022 22:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[profesores](
	[dni] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[idSexo] [int] NOT NULL,
	[fechaDeContratacion] [datetime] NOT NULL,
	[salario] [decimal](18, 0) NOT NULL,
	[idActividad] [int] NOT NULL,
	[profesorActivo] [bit] NOT NULL,
 CONSTRAINT [PK_profesores] PRIMARY KEY CLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sexos]    Script Date: 10/07/2022 22:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sexos](
	[idSexo] [int] NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_sexos] PRIMARY KEY CLUSTERED 
(
	[idSexo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[actividades] ([idActividad], [descripcion]) VALUES (0, N'GimnasioLibre')
INSERT [dbo].[actividades] ([idActividad], [descripcion]) VALUES (1, N'Aerobics')
INSERT [dbo].[actividades] ([idActividad], [descripcion]) VALUES (2, N'Spinning')
GO
INSERT [dbo].[profesores] ([dni], [nombre], [apellido], [idSexo], [fechaDeContratacion], [salario], [idActividad], [profesorActivo]) VALUES (32597567, N'Lucas', N'Palacios', 0, CAST(N'2022-06-26T21:50:49.203' AS DateTime), CAST(1000 AS Decimal(18, 0)), 0, 1)
INSERT [dbo].[profesores] ([dni], [nombre], [apellido], [idSexo], [fechaDeContratacion], [salario], [idActividad], [profesorActivo]) VALUES (45123876, N'Mariano', N'Cruz', 0, CAST(N'2022-07-10T19:22:04.130' AS DateTime), CAST(2000 AS Decimal(18, 0)), 1, 1)
GO
INSERT [dbo].[sexos] ([idSexo], [descripcion]) VALUES (0, N'Masculino')
INSERT [dbo].[sexos] ([idSexo], [descripcion]) VALUES (1, N'Femenino')
INSERT [dbo].[sexos] ([idSexo], [descripcion]) VALUES (2, N'NoBinario')
GO
ALTER TABLE [dbo].[profesores]  WITH CHECK ADD  CONSTRAINT [FK_profesores_actividades] FOREIGN KEY([idActividad])
REFERENCES [dbo].[actividades] ([idActividad])
GO
ALTER TABLE [dbo].[profesores] CHECK CONSTRAINT [FK_profesores_actividades]
GO
ALTER TABLE [dbo].[profesores]  WITH CHECK ADD  CONSTRAINT [FK_profesores_sexos] FOREIGN KEY([idSexo])
REFERENCES [dbo].[sexos] ([idSexo])
GO
ALTER TABLE [dbo].[profesores] CHECK CONSTRAINT [FK_profesores_sexos]
GO
USE [master]
GO
